# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Logs
logs/
*.log

# SQLite
*.db
*.sqlite3

# Build
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# Temp
temp/

# Exports
exports/

# OS
Thumbs.db
.DS_Store